body
{font-family: "Roboto", sans-serif;
color: #434455;
font-weight: 500;   
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
background-color: #ffffff;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {display: block;}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

}

.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
   
}



.adresa {display: inline;
align-items: center;}
.adr {display: inline;}
/* #region header vs logo footer */

.page-header {height: 72px;
    border-bottom: 1px solid #e7e9fc
}
.container.cont-header {
    display: flex;
    align-items: center;
  justify-content: space-between;
    /* padding-top: 24px;
    padding-bottom: 24px; */
} 

.header-nav { display: flex;
  align-items: center;}

.list-adress {display: flex;}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    
}

/* .nadvsim {
    display: inline;
} */

.item-list-link-header {
    display: flex;
    padding: 24px 0;
}

.list-link-header {display: flex;
/* margin-left: 76px; */
align-items: center;
gap: 40px; }

/* .item-list-link-header {
padding-top: 24px;
padding-bottom: 24px; 
display: block;} */

.logo-s {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nadvsim {background-color: #FFFFFF;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.nadvsim:hover, .nadvsim:focus {color: #404bbf;}

.list-adress {gap: 40px;}

.adresa {font-size: medium;
    }

.adr {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

.adr:hover, .adr:focus {color: #404bbf}

/* #endregion header */


/* #region section 1 effect */

.knopka {cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
 background-color: #4d5ae5;
 border-radius: 4px;
 /* margin-bottom: 188px; */
border-radius: 4px;
   display: block;
    height: 56px;
    min-width: 169px;
    border: none;
    margin:auto;
}

.knopka:hover, .knopka:focus {background-color: #404bbf;}

.title {background-color: #2e2f42;
text-align: center;
padding-top: 188px;
padding-bottom: 188px;
display: flex;
flex-direction: column;
justify-content: center;
}
    
.zagolov   {font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: block;
    /* margin-top: 188px; */
    margin-bottom: 48px;
    max-width: 496px;
        margin-left: auto;
            margin-right: auto;
} 
 

/* #endregion section 1 effect */
    
/* #region section 2,4 our services */

.section-ourservice { 
    padding: 120px 0;
}

.small-text-zag {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;

}

.small-text-par {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.small-text-par { }

.small-text-zag {margin-bottom: 8px; }

.services-none {display: none;}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.small-text-services {
    display: flex;
    gap: 24px;
        justify-content: center;
    /* margin-top: 120px;
    margin-bottom: 120px; */
}

.item-list-services {width: calc((100% - 72px) / 4);
/* text-align: center; */
}

/* .item-list-portfolio {border: 1px solid #e7e9fc;
    width: 360px;
    height: 420px;
    width: calc((100% - 48px) / 3);

} */

/* #endregion section 2,4 our services */

/* #region section 3.4 our team */

.section-portfolio{
    padding-top: 120px;
        padding-bottom: 120px;
}

.container-portfolio {padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;

}

.section-thre {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.header-two {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
/* padding-top: 120px; */
}

.nezn {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    /* padding: 32px 0px 32px 0px; */
    width: 264px;
    text-align: center;
    height: 380px;
}

.our-team {
    
    display: flex;
    gap: 24px;
padding: 0;
}

.container-team {
    padding: 32px 0;
}

.list-portfolio {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    /* margin-bottom: 120px; */
    flex-wrap: wrap;
 }

.header-portfolio { font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    /* padding-top: 120px; */
}

.small-text-zagser {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /* margin-top: 32px;
    margin-bottom: 8px; */
    text-align: center;
        margin-bottom: 8px;
}

.small-text-parser {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.small-text-portfolio {ont-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /* margin-top: 32px;
    margin-bottom: 8px; */
    /* text-align: center; */

}

.small-text-par-portfolio {
    /* text-align: center; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}

/* #endregion section 3,4 our team */


/* #region footer */

.foter {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.small-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.container .footerr {margin-top: 100px;
padding-left: 156px;}

/* .logo-foter {padding-top: 100px; 
} */
.logo-foterr {display: inline-block;
margin-bottom: 16px;
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-s-f {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.fot-par {
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
    max-width: 264px;
    /* padding-bottom: 100px; */
}

/* #endregion footer */

   



.sect-thre {color: #f4f4fd;}



.nezn {background-color: #FFFFFF}
